<div class="col-md-12">
  <div>
    <h1>Maps</h1>
    <label for="states" style="margin-left: 10px;">Select a state :</label>
  <select id="states" style="margin-left: 10px;" name="states" [(ngModel)]="selectedState" (change)="selectDistrict()">
    <option *ngFor = "let item of states" [ngValue]="item" >{{item.state}}</option>
  </select>

  <label for="district" style="margin-left: 10px;">Select a District :</label>
  <select style="margin-left: 10px;" id="district" name="district" [(ngModel)]="selectedDistrict" (change)="changeMapLocation()">
    <option>Select</option>
    <option *ngFor = "let item of districts" [ngValue]="item" >{{item.name}}</option>
  </select>

  </div>
  <div>
    <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom">

	<agm-marker *ngFor="let marker of markers"
    [latitude]="marker.position.lat"
    [longitude]="marker.position.lng"
    [label]="marker.label">
	</agm-marker>

</agm-map>
  </div>
</div>

